
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Sushi</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
            
            <li class="nav-item">
                <a class="nav-link" 
                href="{% url 'fruits' %}">Fruits</a>
            </li>
            


            
            <li class="nav-item">
              <a class="nav-link" 
              href="{% url 'fruits_list' %}">Fruits_List</a>
          </li>

        {% if not request.user.is_authenticated %}
        <li><a class="nav-link scrollto" href="/signup">Signin</a></li>
        {% else %}
        <li><a class="nav-link scrollto" href="/logout">logout</a></li>
        {% endif %}

        <li class="nav-item">
          <a class="nav-link" 
          href="/profile">profile</a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link" 
        href="/change_password">Change Password</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" 
      href="/Course_list">Course_list</a>
  </li>
  
    
           
         <!-- <li class="nav-item">
            <a class="nav-link" 
            href="{% url 'fruits_list' %}">Vegitables</a>
        </li>
        
      
            
    


           

          
            
          
        
    
        
  
  

        <!--<form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>-->
      </div>
    </div>
  </nav>